@mixin modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $white;
	z-index: 3;
}

@mixin small-caps {
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 4px;
}

@mixin self-drawing-line($color) {
	content: "";
	position: absolute;
	border-bottom: 1px solid $color;
	width: 100%;
	left: 0;
	bottom: 0;
	transition: 300ms all ease-in-out;
	transform: scaleX(0);
}