// =================
// TYPOGRAPHY
// =================

$body-font: 'Lato', 'Helvetica', 'TrebuchetMS', 'Arial', sans-serif;
$collosal-font-size: 30rem;
$huge-font-size: 20rem;
$big-font-size: 10rem;
$icon-font-size: 4rem;


// =================
// COLORS
// =================

$black: #080808;
$white: #fff;