// =================
// TYPOGRAPHY
// =================

$body-font: 'Lato', 'Helvetica', 'TrebuchetMS', 'Arial', sans-serif;
$huge-font: 20rem;
$big-font: 10rem;


// =================
// COLORS
// =================

$black: #080808;
$white: #fff;
$blue: #2e5266;
$yellow: #ecec21;