@import 'normalize';
@import 'typography';
@import 'variables';
@import 'animations';

// =================
// GLOBAL
// =================

* {
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	background: $black;
	color: $white;
}

a {
	color: $white;
	text-decoration: none;
}

.btn {
	transition: 300ms opacity ease-in-out;
	opacity: 0.75;
}

.btn:hover {
	opacity: 1;
}

// =================
// SPECIFIC
// =================

// Home page

.wiki-btn {
	font-size: $huge-font-size;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 300ms all ease-in-out;
}

.transition-modal {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	transition: 300ms all ease-in-out;
	transform: translateY(100%);
	z-index: 3;
}


// Search modal page

.search-modal {
	text-align: right;
	padding: 5rem;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	transform: translateY(-100%);
	transition: 300ms all ease-in-out;
	background: $white;
	color: $black;
}

.search-bar {
	width: 60%;
	color: $black;
	font-size: $big-font-size;
	background: transparent;
	border: none;
	border-bottom: 5px solid $black;
	padding-bottom: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 300ms 300ms opacity ease-in;

	&:focus {
		outline: none;
	}
}

.close-btn {
	font-size: $btn-font-size;
}


// Results page

.container {
	padding: 5rem;
}

.header {
	display: none;
	justify-content: space-between;
	margin-bottom: 5rem;

	.search-results {
		text-align: center;
	}

	.search-results-text {
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 4px;
		font-size: 2.5rem;
	}

	.search-term {
		font-size: $big-font-size;
	}

	.home-btn,
	.search-btn {
		font-size: $btn-font-size;
		align-self: flex-start;
	}
}

.articles {
	display: none;
	flex-wrap: wrap;
}

.article {
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 30rem;
	height: 30rem;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $black;
		opacity: 0.5;
		z-index: 1;
	}

	&-link {
		padding: 0 2rem;
		display: flex;
    flex-direction: column;
		align-items: center;
	}

	&-link::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $black;
		opacity: 1;
		z-index: 2;
		transition: 300ms all ease-in;
	}

	&-link-header {
		display: inline-block;
		font-weight: 400;
		transition: 300ms all ease-in-out;
		box-decoration-break: clone;
		z-index: 2;
	}

	&-link-header::after {
		content: "";
		position: absolute;
    border-bottom: 2px solid $white;
    width: 100%;
		left: 0;
		bottom: 0;
		transition: 300ms transform ease-in-out;
		transform: scaleX(0);
	}

	// Hover effects

	.article:hover &-link-header {
		transform: scale(1.1);
	}

	.article:hover &-link-header::after {
    transform: scaleX(1);
	}

	.article:hover &-link::before {
		opacity: 0;
	}
}

.no-img::before {
	content: "\f266"; 
	font-family: FontAwesome;
	position: absolute;
	font-size: $huge-font-size;
	color: $white;
	opacity: 0.4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



// =================
// ANIMATION
// =================

.slide-on-top {
	transform: translateY(0);
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}


// =================
// UTILITY
// =================

.clickable {
	cursor: pointer;
}