@import 'normalize';
@import 'typography';
@import 'variables';
@import 'animations';

// =================
// GLOBAL
// =================

body {
	height: 100vh;
	background: $black;
	color: #fff;
	position: relative;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}


// =================
// SPECIFIC
// =================

.search-icon {
	font-size: 20rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 100ms all ease-in-out;
}

.search-modal {
	background: $blue;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-100%);
	transition: 300ms all ease-in-out;
}


.search-bar {
	width: 60%;
	color: $white;
	font-size: 10rem;
	background: transparent;
	border: none;
	border-bottom: 5px solid $white;
	padding-bottom: 1rem;
	opacity: 0;
	transition: 300ms 300ms opacity ease-in;

	&:focus {
		border-color: $yellow;
		outline: none;
	}
}



.close-icon {
	position: absolute;
	top: 3rem;
	right: 5rem;
	font-size: 10rem;
}



// =================
// ANIMATION
// =================

.slide-down {
	transform: translateY(0);
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}


// =================
// UTILITY
// =================

.clickable {
	cursor: pointer;
}